.mainmenu {
	margin: 10px
	position: absolute;
	height: 200px;
}

.trbutton {
  display: block;
  opacity: 0.8;
  padding: 4px;
  margin: 10px;
  line-height: 1.42857143;
  height: 200px;
  background-color: rgba(162, 222, 208,1.0);
  border-radius: 16px;
  -webkit-transition: border .05s ease-in-out;
  -o-transition: border .05s ease-in-out;
  transition: border .05s ease-in-out;
  border: 3px solid rgba(22, 160, 133,1.0);
  -webkit-box-shadow: 10px 10px 19px -3px rgba(0,0,0,0.25);
  -moz-box-shadow: 10px 10px 19px -3px rgba(0,0,0,0.25);
  box-shadow: 10px 10px 19px -3px rgba(0,0,0,0.25);
}

.trbutton-half {
  display: block;
  opacity: 0.8;
  padding: 0px;
  line-height: 1.42857143;
  height: 50px;
  background-color: rgba(162, 222, 208,1.0);
  border-radius: 6px;
  -webkit-transition: border .05s ease-in-out;
  -o-transition: border .05s ease-in-out;
  transition: border .05s ease-in-out;
  border: 3px solid rgba(22, 160, 133,1.0);
  -webkit-box-shadow: 10px 10px 19px -3px rgba(0,0,0,0.25);
  -moz-box-shadow: 10px 10px 19px -3px rgba(0,0,0,0.25);
  box-shadow: 10px 10px 19px -3px rgba(0,0,0,0.25);
  margin-top: 5px;
}

.highlight {
	opacity: 1.0;
	border-radius: 20px;
	  -webkit-transition: border .05s ease-in-out;
	  -o-transition: border .05s ease-in-out;
	  transition: border .05s ease-in-out;
	border: 2px solid rgba(22, 160, 133,1.0);
}

body {
	background-color: rgba(104, 195, 163,1.0);
}

.tablecolor {
	background-color: rgba(162, 222, 208,1.0);
}

.labeldiv {
	width: 100%;
	text-align: center;
	vertical-align: middle;
	line-height: 40px
}

.labeldiv span {
	width: 100%;
	text-align: center;
	vertical-align: middle;
	line-height: 50px
}

.glyphdiv {
	position:relative;
	width: 100%;
	top: 14px;
	text-align: center;
	font-size: 96px;
}

.glyphdivsmall {
	position:relative;
	width: 100%;
	top: 0px;
	text-align: center;
	font-size: 24px;
}

.label {
	font-weight: bold;
	font-size: 18pt;
	color:rgba(22, 160, 133,1.0);
}